@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'pixel';
  src: url('@/assets/fonts/pixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated
}


@layer base {
  *,
  *::before,
  *::after {
    @apply box-border m-0 relative font-normal;
  }

  
  body {
    font-family: 'pixel', sans-serif;
    @apply min-h-screen  text-gray-800 bg-white transition-colors duration-500 leading-6 text-base antialiased max-w-screen-2xl mx-auto;
    @apply dark:text-gray-400 dark:bg-gray-900;
    text-rendering: optimizeLegibility;
  }

  #app {
    @apply p-4 sm:p-8 my-0 font-normal h-screen;
  }

  a {
    @apply no-underline text-jade-500 duration-400;

    &:hover {
      @apply hover-hover:bg-jade-900;
    }
  }
}

// .card {
//   @apply border-8 border-double border-black p-6;
// }